.app-add-form {
    margin-top: 30px;
    padding: 25px;
    background-color: #3D5A80;
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, .015);
    color: #FFF;
}

.add-form {
    margin-top: 20px;
}

.add-form input {
    width: 350px;
    margin-right: 20px;
}